.navbar {
    width: 250px;
    height: 100vh;
    background-color: #57534e;
    position: fixed;
    display: flex;
    justify-content: center;
}

.navbar-content {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.navbar-content h1 {
    color: white;
    font-size: 20px;
}
