.main-container {
  display: flex;
  padding: 0 0 0 0;
}

.main-frame {
  width: -webkit-calc(100% - 250px);
  width:    -moz-calc(100% - 250px);
  width:         calc(100% - 250px);
  background-color: #fafafa ;
  display: flex;
  margin-left: 250px;
  position: fixed;
  justify-content: center;
  height: 100vh;
  overflow-y: scroll;
}

.main-frame-content {
  width: 600px;
  padding: 40px;
}

.main-mobile-frame {
  margin-top: 60px;
  width: 100%;
  background-color: #fafafa ;
}

.main-mobile-frame-content {
  /* width: 300px; */
  padding: 20px 0px 40px 40px;
}
